.page-header {
    position: relative;
    background: {
        image: url(/img/uploads/18122017-img_9122.jpg);
        attachment: fixed;
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    height: 100vh;
    
    .page-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#restaurante {
    background: {
        image: url(/assets/img/header/home/IMG_9163-magic.jpg);
        attachment: fixed;
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    height: 50vh;
}

#hotel {
    background: {
        image: url(/assets/img/header/home/IMG_9219-magic.jpg);
        attachment: fixed;
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    height: 50vh;
}

#pastelaria {
    background: {
        image: url(/assets/img/header/home/IMG_9231-magic.jpg);
        attachment: fixed;
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    height: 50vh;
}

#diversos {
    background: {
        image: url(/assets/img/header/home/IMG_9257-magic.jpg);
        attachment: fixed;
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    height: 50vh;
}