---
layout: default
image: /img/uploads/18122017-img_9122.jpg
---

<header class="page-header">
    <div class="container">
        <div class="center">
            <img src="{{ site.image }}" alt="{{ site.title }}">
        </div>
    </div>
</header>

<section class="section reveal primary-color-text">
    <div class="container">
        <div class="center">
            <h4>
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <i class="fa fa-cutlery fa-stack-1x"></i>
                </span>
            </h4>
            <h3>Restaurante</h3>
        </div>
        <div class="row">
            {% for item in site.restaurante limit: 3 %}
                <div class="col s12 m4 center">
                    <h4>{{ item.title }}</h4>
                    <p class="light">{{ item.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<div id="restaurante"></div>

<section class="section reveal primary-color-text">
    <div class="container">
        <div class="center">
            <h4>
                <span class="fa-stack fa-2x icon">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <i class="fa fa-birthday-cake fa-stack-1x"></i>
                </span>
            </h4>
            <h3>Pastelaria</h3>
        </div>
        <div class="row">
            {% for item in site.pastelaria limit: 3 %}
                <div class="col s12 m4 center">
                    <h4>{{ item.title }}</h4>
                    <p class="light">{{ item.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<div id="pastelaria"></div>

<section class="section reveal primary-color-text">
    <div class="container">
        <div class="center">
            <h4>
                <span class="fa-stack fa-2x icon">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <i class="fa fa-hotel fa-stack-1x"></i>
                </span>
            </h4>
            <h3>Hotel</h3>
        </div>
        <div class="row">
            {% for item in site.hotel limit: 3 %}
                <div class="col s12 m4 center">
                    <h4>{{ item.title }}</h4>
                    <p class="light">{{ item.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<div id="hotel"></div>

<section class="section reveal primary-color-text">
    <div class="container">
        <div class="center">
            <h4>
                <span class="fa-stack fa-2x icon">
                    <i class="fa fa-circle-o fa-stack-2x"></i>
                    <i class="fa fa-folder fa-stack-1x"></i>
                </span>
            </h4>
            <h3>Diveros</h3>
        </div>
        <div class="row">
            {% for item in site.diversos limit: 3 %}
                <div class="col s12 m4 center">
                    <h4>{{ item.title }}</h4>
                    <p class="light">{{ item.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<div id="diversos"></div>
