<div class="row">
    <form method="POST" action="http://formspree.io/{{ site.email }}" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="first_name" type="text" class="validate" name="Nome Completo">
                <label for="first_name" class="white-text">Nome Completo</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="Email">
                <label for="email" class="white-text">Email</label>
            </div>
        </div>                

        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" length="500" name="Mensagem"></textarea>
                <label for="textarea1" class="white-text">Mensagem</label>
            </div>
        </div>
        <div class="center">
            <button type="submit" class="btn waves-effect">Envie</button>
            <button type="reset" class="btn-flat" style="border: solid 1px #fff;">Apague</button>
        </div>
    </form>
</div>