<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light">
        <i class="fas fa-plus white-text"></i>
    </a>

    <ul>
        <li>
            <a href="tel:+258 82 592 0320" class="btn-floating btn-large waves-effect waves-light">
                <i class="fas fa-mobile white-text"></i>
            </a>
        </li>

        <li>
            <a href="mailto:{{ site.email }}" class="btn-floating btn-large waves-effect waves-light">
                <i class="fas fa-envelope white-text"></i>
            </a>
        </li>
    </ul>
</div>