<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <h5>Conheça-nos</h5>

                <p class="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quam ullam error repudiandae libero cumque repellendus consectetur sapiente sint veritatis enim, blanditiis aspernatur quaerat dignissimos, quis fugiat quisquam maiores iusto.</p>
            </div>

            <div class="col s12 m4">
                <h5>Localiza-nos</h5>
                <p>Avenida da Liberdade</p>
                <p>Cidade de Tete, Moçambique</p>
                <p>Cel: <a href="tel:+258 82 592 0320" class="white-text">+258 82 592 0320</a></p>
                <p>Email: <a href="mailto:{{ site.email }}" class="white-text">{{ site.email }}</a></p>
            </div>

            <div class="col s12 m4">
                <h5>Contacte-nos</h5>
                {% include contact-form.html %}
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container center">
            &copy; {{ site.time | date: "%Y" }} {{ site.title }}. Todos Direitos Reservados | Powered by <a href="https://izitag.github.io" class="white-text" title="IZItag">IZItag</a>
        </div>
    </div>
</footer>