<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <h4>Serviços</h4>
                <hr>
                <ul>
                    {% for item in site.data.nav %}
                        <li><a href="{{ item.link }}" title="{{ item.title }}" class="white-text">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col s12 m4">
                <h4>Localização</h4>
                <hr>
                Av. da Liberdade<br>
                Tete - Moçambique<br>
                <ul>
                    {% for item in site.data.contactos %}
                        <li>{{ item.contacto }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col s12 m4">
                <h4>Extras</h4><hr>
                <ul>
                    {% for item in site.diversos %}
                        <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>