<div class="scrollme">
    <div class="row animateme" data-when="enter" data-from="0.5" data-to="0" data-opacity="0" data-translatex="-200" data-rotatez="90">
        <div class="card-panel hoverable">
            <div class="col s12 m4">
                <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed">
            </div>
            <div class="col s12 m8">
                <div class="center">
                    <h3>
                        <strong>{{ item.title }}</strong>
                    </h3>
                    <p>A Partir de {{ item.min_price }}</p>
                </div>
            </div>
        </div>
    </div>
</div>