<header class="slider" style="text-shadow: 2px -2px #444;">
    <ul class="slides">
        {% if page.title == "Diversos Serviços" %}
            {% for item in site.diversos reversed limit: 4 %}
                <li>
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                    <div class="caption center-align white-text">
                        <h2>{{ item.title }}</h2>
                    </div>
                </li>
            {% endfor %}

            {% elsif page.title == "Hotel Residencial" %}
                {% for item in site.hotel reversed limit: 4 %}
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                        <div class="caption center-align white-text">
                            <h2>{{ item.title }}</h2>
                        </div>
                    </li>
                {% endfor %}

            {% elsif page.title == "Pastelaria" %}
                {% for item in site.pastelaria reversed limit: 4 %}
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                        <div class="caption center-align white-text">
                            <h2>{{ item.title }}</h2>
                        </div>
                    </li>
                {% endfor %}

            {% elsif page.title == "Restaurante" %}
                {% for item in site.restaurante reversed limit: 4 %}
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                        <div class="caption center-align white-text">
                            <h2>{{ item.title }}</h2>
                        </div>
                    </li>
                {% endfor %}

            {% elsif page.title == "Explore Mais" %}
                {% for item in site.explore reversed limit: 4 %}
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                        <div class="caption center-align white-text">
                            <h2>{{ item.title }}</h2>
                        </div>
                    </li>
                {% endfor %}
        {% endif %}
    </ul>
</header>