<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#00bcd4">
    
    {% seo %}

    {% include scssify.html %}
    
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">

    {% if page.layout == "page" %}
        {% unless page.title == "Explore Mais" %}
            <script src="/assets/js/scrollreveal.min.js" async></script>
        {% endunless %}
    {% endif %}
    {% unless page.layout == "page" %}
        <!-- include the widget -->
        <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endunless %}
</head>