<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo" title="{{ site.title }}">{{ site.title }}</a>
            <a data-activates="sidenav" class="button-collapse">
                <i class="fas fa-bars"></i>
            </a>

            <ul class="right hide-on-med-and-down">
                {% include nav.html %}
            </ul>
        </div>

        <div class="nav-content">
            {% if page.layout == "page" %}
                <a 
                    href="#booking" 
                    class="btn-floating btn-large halfway-fab waves-effect waves-light modal-trigger tooltipped"
                    data-position="bottom" 
                    data-delay="50"
                    data-tooltip="Booking">
                    <i class="fas fa-calendar-check"></i>
                </a>
            {% endif %}
        </div>
    </nav>
</div>