<section class="section primary-color">
    <section class="container">
        <h3 class="center-align">Pacotes <strong>Especiais</strong></h3>

        <section class="row">
            {% for item in site.pacotes %}
                <div class="col s12 m6 l4">
                    <div class="card-panel hoverable">
                        <h4>{{ item.title }}</h4>
                        <h5>{{ item.price }}</h5>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
</section>