<script
    defer
    src="http://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% if page.title == "Galeria" %}
    <script defer src="/assets/js/masonry.pkgd.min.js"></script>
    <script defer src="/assets/fresco/js/fresco/fresco.js"></script>
    <link rel="stylesheet" href="/assets/fresco/css/fresco/fresco.css">
{% endif %}
<script defer src="/assets/js/main.js"></script>
{% unless page.title == "Galeria" %}
    <script>
        window.sr = ScrollReveal();
            sr.reveal('.reveal');
    </script>
{% endunless %}

{% unless page.layout == "page" %}
    <!-- include the widget -->
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
{% endunless %}