<!DOCTYPE html>
<html lang="pt">
    {% include head.html %}
    <body class="is-loading">
        <div id="wrapper" class="fade-in">
            {% if page.layout == "page" %}
                {% include intro.html %}
            {% endif %}

            {% include header.html %}

            {% include navbar.html %}

            <div id="main">
                {{ content }}
            </div>

            {% include footer.html %}

            {% include scripts.html %}
        </div>
    </body>
</html>