---
layout: default
---

{% unless page.title == "Galeria" %}
    {% include header.html %}
{% endunless %}
{% include reservas.html %}
<section class="section grey lighten-4">
    <div {% unless page.title == "Galeria" %}class="container"{% endunless %} {% if page.title == "Galeria" %} id="masonry-grid" class="row"{% endif %}>
        {% unless page.title == "Galeria" %}
            {% for item in paginator.posts %}
                {% include grid-loop.html %}
            {% endfor %}
        {% endunless %}

        {% if page.title == "Galeria" %}
            {% for item in site.galeria %}
                {% include img-loop.html %}
            {% endfor %}
        {% endif %}

        {% include pagination.html %}
    </div>
</section>